


<div class="container-fluid">
  <div class="container">
    <div class="gallery-video">
        <%= cl_video_tag("ScandiCrush", :width=>700, :crop=>"scale",
         :background => "pink",
          :preload => "metadata", :controls => true,
          :fallback_content => "Your browser does not support HTML5 video tags" )  %>

<div class="gallery">

      <div class="gallery-img">
        <%= image_tag "Sprekenhus-3.jpg"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Sprekenhus-4.jpg"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Julie.jpg"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "Nufferton-5.jpg"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Nufferton-3.jpg"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "Nufferton-2.jpg"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "Stand.jpg"  %>
      </div>
       <div class="gallery-img">
        <%= image_tag "V&A2.jpg"  %>
      </div>
      <div class="gallery-img">
        <%= image_tag "Steph.JPG"  %>
      </div>
    </div>

    </div>
  </div>
</div>

