


<div class="container-fluid">
  <div class="container">
    <div class="gallery-video">
        <%= cl_video_tag("ScandiCrush", :width=>700, :crop=>"scale",
         :background => "pink",
          :preload => "metadata", :controls => true,
          :fallback_content => "Your browser does not support HTML5 video tags" )  %>

<div class="gallery">

      <div class="gallery-img">
      <a href="<%= image_path "Sprekenhus-3.jpg" %>" class="swipebox" >
        <%= image_tag "Sprekenhus-3.jpg"  %>
      </div>
      <div class="gallery-img">
      <a href="<%= image_path "Sprekenhus-4.jpg" %>" class="swipebox" >
        <%= image_tag "Sprekenhus-4.jpg"  %>
      </div>
      <div class="gallery-img">
      <a href="<%= image_path "Julie.jpg" %>" class="swipebox" >
        <%= image_tag "Julie.jpg"  %>
      </div>
       <div class="gallery-img">
      <a href="<%= image_path "Nufferton-5.jpg" %>" class="swipebox" >
        <%= image_tag "Nufferton-5.jpg"  %>
      </div>
      <div class="gallery-img">
      <a href="<%= image_path "Nufferton-3.jpg" %>" class="swipebox" >
      <%= image_tag "Nufferton-3.jpg"  %>
      </div>
       <div class="gallery-img">
      <a href="<%= image_path "Nufferton-2.jpg" %>" class="swipebox" >

        <%= image_tag "Nufferton-2.jpg"  %>
      </div>
       <div class="gallery-img">
      <a href="<%= image_path "Stand.jpg" %>" class="swipebox" >
        <%= image_tag "Stand.jpg"  %>
      </div>
       <div class="gallery-img">
          <a href="<%= image_path "V&A2.jpg" %>" class="swipebox" >
        <%= image_tag "V&A2.jpg"  %>
      </div>
      <div class="gallery-img">
              <a href="<%= image_path "Steph.JPG" %>" class="swipebox" >
        <%= image_tag "Steph.JPG"  %>
      </div>
    </div>

    </div>
  </div>
</div>

